@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    animation: fadeIn 1.0s ease-in-out forwards;
}

.wrapper {
    display: flex;
    width: 100%;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    transition: all 0.3s;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 20px;
}
.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background 0.3s;
}
.sidebar ul li a:hover {
    background-color: #495057;
}
.main-content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    transition: margin-left 0.3s;
}
.content-header {
    margin-bottom: 20px;
}
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main-content {
        margin-left: 0;
    }
}