@import 'colors';

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: 'Poppins';
    animation: fadeIn 1.0s ease-in-out forwards;

}
.content{
    display: flex;
    width: 94%;
}


.card {
    font-family: 'Poppins';
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    margin-left: 80px;

    width:100%;
    h2{
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

.item-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.item-image {
    width: 100px;
    margin-right: 20px;
}

.item-details {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.item-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.item-price{
    flex-direction: column;
    margin-left: 60px;
    font-size: 18px;
    color: $orange;
}
.item-size {
    margin-bottom: 5px;
    margin-left: 60px;
}

.item-quantity {
    margin: auto;
    margin-left: 60px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    .qt{
        font-weight: bold;
    }
    .quantity{
        margin-left: 5px;
    }
}

.payment {
    margin: auto;
    margin-left: 60px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    .status{
        font-weight: bold;
    }
    .stat{
        margin-left: 5px;
    }
}

.Delivery {
    margin: auto;
    margin-left: 60px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    .status{
        font-weight: bold;
    }
    .stat{
        margin-left: 5px;
    }
}

.line {
    background-color: $lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
}
